html {
    font-size: 18px;
}

body {
    font-family: "darkmode-on", sans-serif;
   background: #c7621e;
background: radial-gradient(circle,rgba(199, 98, 30, 1) 0%, rgba(199, 158, 87, 1) 50%, rgba(199, 68, 68, 1) 100%);
    color: rgb(255, 255, 255);
}

a {
   color: rgb(255, 255, 255);
   text-decoration: none;
}
a:visited {
    color: rgb(111, 99, 239);
}
a:hover {
color: rgb(227, 131, 5);
}

h1, h2, h3 {
    font-family: "relaxia", sans-serif;
}

section{
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 2em;
}
p {
    font-size: 1.2em;
}

main {
    width: 80%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1640px;
}

article {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}