body {
    font-family: "darkmode-on", sans-serif;
}
h1, h2, h3 {
    font-family: "relaxia", sans-serif;
}

section{
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 2em;
}
p {
    font-size: 1.2em;
}

main {
    width: 80%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1640px;
}

article {
    margin-top: 40px;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}