body {
    font-family: "darkmode-on", sans-serif;
}
h1, h2, h3 {
    font-family: "relaxia", sans-serif;
}

section{
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 2em;
}
p {
    font-size: 1.2em;
}

main {
    width: 1280px;
}